[Unit]
Description=Service de gestion de la serre
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=guillaume
WorkingDirectory=/home/votre_nom_utilisateur
ExecStart=/bin/bash /home/votre_nom_utilisateur/start_serre.sh
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
